

<div class="container">
  <h1>Create a new Restaurant</h1>
  <div class="row col-sm-6 col-sm-offset-3">
    <%= simple_form_for @restaurant do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :category, collection: Restaurant::CATEGORY %>
    <%= f.input :phone_number %>
    <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
